[mysqld]
# デフォルトのMySQLポート
port=3306

# データベースデータの保存ディレクトリ
datadir=/var/lib/mysql

# MySQL起動時に設定を追加
init_file=/etc/mysql/init.sql

# SSL設定（環境変数を利用、任意でコメントアウトでoff）
# ssl-ca=${SSL_CA_PATH}
# ssl-cert=${SSL_CERT_PATH}
# ssl-key=${SSL_KEY_PATH}

# pidファイルの保存ディレクトリ
pid-file=/var/run/mysqld/mysqld.pid

# タイムゾーンの設定
default-time-zone='Asia/Tokyo'
